body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 55px;
    padding-right: 55px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

/*styles for validation helpers*/
.field-validation-error {
    color:#b94a48;
}

.field-validation-valid {
    display:none;
}

input.input-validation-error {
    border: 1px solid #0094ff;
}

input[type="checkbox"].input-validation-error{
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

input, textarea {
    display: block;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #000;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.button {
    border: 1px solid #fff;
    outline: none;
    border-radius: 0;
    padding: 10px 10px;
    font-weight: 400;
    background: #2a3843;
    color: #fff;
    -webkit-appearance:none;
}

    .button:hover, button:focus {
        color:#b94a48 !important;
    }

body {
    background: #fff;
}

label{
    color: #000;
    font-size: 18px;
}

.form-body input, textarea {
    font-size: 20px
}

textarea:focus, input:focus {
    outline:none;
}

.table-heading {
    background-color: #2a3843;
    color:white;
}

.add-new {
    background-color: #0094ff;
}


